repertoire/biblio.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT biblio (livre+)>

<!ELEMENT livre (titre, auteur+, langue, categorie, resume, date_pub)>
<!ATTLIST livre isbn ID #REQUIRED >

<!ELEMENT titre (#PCDATA) >

<!ELEMENT auteur (nom) >
<!ATTLIST auteur id ID #REQUIRED>
<!ATTLIST auteur id_publications IDREFS #REQUIRED>

<!ELEMENT nom (#PCDATA) >

<!ELEMENT langue (#PCDATA) >
<!ATTLIST langue id ID #REQUIRED>

<!ELEMENT categorie (#PCDATA) >

<!ELEMENT resume (#PCDATA)>

<!ELEMENT date_pub (#PCDATA) >